<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Beedo</title>
  <link rel="shortcut icon"
        href="{{url_for('static', filename='favicon.png')}}">
  <link rel="stylesheet" type="text/css"
        href="{{url_for('static', filename='bulma.min.css')}}">
</head>

<body>
  {% block nav %}
  {% endblock %}

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <section class="section">
      {% for cat, message in messages %}
        {% set _notify = 'is-danger' if cat == 'error' else 'is-success' %}
        <div class="notification {{_notify}}">
          {{message}}
        </div>
      {% endfor %}
      </section>
    {% endif %}
  {% endwith %}

  {% block body %}
  {% endblock %}

  {% block script %}
  {% endblock %}
</body>